<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static Express Server</title>
</head>
<body>
    <div>
        <h1>This is my Node Sever Page!</h1>
        <h2>Give Me Your Name!</h2>
        <form action="/action_page.php">
            First:<br><input type="text" name="first"><br>
            Last:<br><input type="text" name="last"><br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <nav>
            <a href = "index.html">Home</a>
            <a href = "about.html">About</a>
            <a href = "contact.html">Contact</a>
        </nav>
    </div>
</body>
</html>